<h1 class="mat-display-2 text-center">2018 Summer Golf League </h1>
<mat-list>
  <mat-list-item>
    <h2 matLine>Overview</h2>
    <p matLine>
      The idea of this league is to get together with the boys one night a week during the summer,
      play a little golf and have some fun afterwards. The league is set up to make teams and pairings random,
      and it takes into consideration a players handicap to give everyone a fair chance of winning.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine> Lists with multiple sections</h2>
    <p matLine>

    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Lists with multiple sections</h2>
    <p matLine class="demo-2"> Lists are also available in "dense layout" mode, which shrinks the font size and height of the list to suit UIs that may need to display more information. To enable this mode, add a dense attribute to the main mat-list tag.</p>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine> Lists with multiple sections</h2>
    <p matLine class="demo-2"> Lists are also available in "dense layout" mode, which shrinks the font size and height of the list to suit UIs that may need to display more information. To enable this mode, add a dense attribute to the main mat-list tag. </p>
  </mat-list-item>
</mat-list>
