<h1 class="mat-display-2 text-center">League Info and Rules</h1>
<mat-list>
  <mat-list-item>
    <h2 matLine>Overview</h2>
    <p matLine>
      The 2018 Summer Golf League will consist of 14 weeks of competition. There will be 3 teams of 4 players.
      Teams will be formed on a draft night at the captains' convenience.
      There will be a variety of formats played over the course of the season. (see Formats below)
      All play will take place from the Maroon/Black (Combo) tee markers.
      The Rules of Golf will govern all play. Local Rules may be enacted by the Head of the League at his discretion.
      Any potential league rule changes will be discussed by the captains, but the head of the league will have the
      final say.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Head of the League:</h3>
    <p matLine>
      MacGregor Thompson
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Captains</h3>
    <p matLine>
      MacGregor Thompson, The Bird of War, The Man of Gan
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>League Schedule</h3>
    <p matLine>
      May 17<sup>th</sup> - August 23<sup>rd</sup> (14 weeks)
    </p>
    <p matLine>
      <i><strong>*** No league play on Thursday May 31<sup>st</sup></strong> since half of us will be in Scotland
        that week</i>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Attendance</h3>
    <p matLine>
      If a player misses more than 3 weeks, his team captain may make a request to the head of the league that he be
      replaced.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Course</h3>
    <p matLine>
      Breakfast Hill Golf Club
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>League Dues</h3>
    <p matLine>
      $50 per player to cover prizes for the entire year, plus greens fees at Breakfast Hill.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Preferred Lies</h3>
    <p matLine>
      Players are allowed to lift, clean, and place within <strong>six inches</strong> in your
      <strong>OWN fairway</strong>.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Tees</h3>
    <p matLine>
      All players will play from the Maroon/Black (Combo) tees.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Max Score per Hole</h3>
    <p matLine>
      <strong>NET DOUBLE BOGEY</strong> will be the max score allowed per hole. To keep the pace of play moving,
      pick your shit up and be a cheerleader when you reach this number.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Subs</h3>
    <p matLine>
      When a player is unable to play, a sub can be used to fill in. The sub's handicap will be used when
      determining strokes for the head-to-head match as well as the overall team score. A player is ultimately
      responsible for finding his own replacement. However, if a player is having difficulty finding one,
      please notify your captain or the head of the league as soon as possible so we can attempt to find one for you.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine></h3>
    <p matLine>

    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Formats</h2>
    <p matLine>
      Formats this year will include
      <strong>two-man best ball, two-man scramble, two-man modified alt shot, and four-man scramble</strong>.
      Each week, (not including the four-man scramble week) there will be three head-to-head matches where a twosome
      from one team will play against a twosome from another team. Captains will be in charge of pairing up their
      players.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Best Ball</h3>
    <p matLine>
      Course Handicaps for each player will be reduced by the player in each match with the lowest handicap.
      The 3 players with the highest handicaps will use 100% of the difference.
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Course Handicaps for each player will be reduced by the player in that match with the lowest handicap.
      The 3 players with the highest handicaps will use 100% of the difference.
    </p>
    <!-- <p matLine>
       <strong>Example:</strong>
       Player A, B, C, and D have course handicaps of 2, 4, 6, and 8 respectively...Player A will play at a scratch,
       Player B will play as a 2, C as a 4, and D as a 6. (regardless of how they're paired into teams)
     </p>-->
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Scramble</h3>
    <p matLine>
      No description necessary...you all know what a scramble is...
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 35% of the A player, and 15% of the B player.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Modified Alt Shot</h3>
    <p matLine>
      This is a modified alternate shot format where both players on a team will tee off from the tee box.
      Then they will choose which of their two drives they want to use.
      Whichever player's drive they choose, the other player must hit the next shot and they play alternate shot
      until the hole is finished.
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 60% of the A player, and 40% of the B player.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Four-man Scramble</h3>
    <p matLine>
      Again, there is no description necessary...
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 20% of the A player, and 15% of the B player, 10 of the C player, and
      5% of the D player.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Format Rotation</h3>
    <p matLine>
      There will be roughly 7 weeks of two-man best ball, 3 weeks of two-man scramble, 3 weeks of two-man modified
      alt shot, and 1 week of four-man scramble in the following order: two-man best ball, two-man scramble,
      two-man best ball, two-man modified alt shot, then repeat. A week of four-man scramble thrown in somewhere.
      Ultimately, it will be up to the head of the league to decide which format will be played each week.
    </p>
    <p matLine>
      <strong>Note:</strong>
      On weeks where a team has one man short and can’t find a sub, we will not do alt shot.
      I’m NOT going to penalize (for individual scoring) whoever the captain doesn't pair up just because his would-be
      partner couldn't make it and we couldn't get a sub. So let’s say week 7 was supposed to be alt shot, but a
      team had a guy that couldn't make it and we couldn't find a sub, we’ll likely just play a two-man best ball where
      one guy (whoever the captain chooses) will have to play 1 v 2. Then the following week we’ll do alt shot.
    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Points System</h2>
    <p matLine>
      There will be a total of 14 weeks of competition. The two worst weekly scores for each team and individual
      will be dropped. In the event we miss more than one week due to inclement weather, only one week will be dropped.
      In the event of a tie, we will have a four-man scramble the following week to determine the winner.
      If there is still a tie after 9 holes, it will go into sudden death.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Team Points</h3>
    <p matLine>
      <strong>Two-man Matches:</strong>
      The winning twosome from each match will earn their team 1 point. Also, the best twosome score from each week
      will earn their team 6 points, followed by the second best score earning 5 points, and so on with the worst
      twosome score each week earning 1 point for their team.
    </p>
    <p matLine>
      <strong>Four-man Scramble:</strong>
      The team with the best score will earn 12 points.
      Second best will earn 8 points. And last place team will each 4 points.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Individual Points</h3>
    <p matLine>
      Individual points will be based off of the the team points you help earn for your team. Players will earn
      1/2 of the total twosome points they help earn and 1/4 of the four-man scramble points earned.
      It doesn't matter if you play lights out each week for your team or get carried each week but happen to be the
      best cheerleader. The individual with the most points at the end of the season will be the League MVP!
    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Prizes</h2>
    <p matLine>
      <strong>Winning Team:</strong> $400 ($100 per player)
    </p>
    <p matLine>
      <strong>League MVP:</strong> $150
    </p>
    <p matLine>
      <strong>League MVP Runner-up:</strong> $50
    </p>
  </mat-list-item>
</mat-list>
