<h1 class="mat-display-2 text-center">2018 Summer Golf League </h1>


<!--
<h3>Overview</h3>
<p>
  The 2018 Summer Golf League will consist of 14 weeks of competition. There will be 3 teams of 4 players.
  Teams will be formed on a draft night at the captains' convenience.
  There will be a variety of formats played over the course of the season. (see Formats below)
  All play will take place from the Maroon/Black (Combo) tee markers.
  Any potential rule changes will be discussed by the captains, but the head of the league will have the final say.
</p>

<mat-divider></mat-divider>

<h3>
  Head of the League:
  <small>MacGregor Thompson</small>
</h3>

<h3>
  Captains:
  <small>MacGregor Thompson, The Bird of Pars, The Man of Gan</small>
</h3>
-->


<mat-list>
  <mat-list-item>
    <h2 matLine>Overview</h2>
    <p matLine>
      The 2018 Summer Golf League will consist of 14 weeks of competition. There will be 3 teams of 4 players.
      Teams will be formed on a draft night at the captains' convenience.
      There will be a variety of formats played over the course of the season. (see Formats below)
      All play will take place from the Maroon/Black (Combo) tee markers.
      Any potential rule changes will be discussed by the captains, but the head of the league will have the final say.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Head of the League:</h3>
    <p matLine>
      MacGregor Thompson
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Captains</h3>
    <p matLine>
      MacGregor Thompson, The Bird of Pars, The Man of Gan
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>League Schedule</h3>
    <p matLine>
      May 17<sup>th</sup> - August 23<sup>rd</sup>
    </p>
    <p matLine>
      <i>*** No league play on <strong>Thursday May 31<sup>st</sup></strong> since half of us will be in Scotland that week</i>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Course</h3>
    <p matLine>
      Breakfast Hill Golf Club
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>League Dues</h3>
    <p matLine>
      $50 per player to cover prizes for the entire year, plus the money Breakfast Hill will charge for the total greens
      fees.
    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Formats</h2>
    <p matLine>
      Formats this year will include
      <strong>two-man best ball, two-man scramble, two-man scotchie, and four-man scramble</strong>.
      For weeks where there are two-man teams, the captains will be in charge of pairing up their players.
      Each week, (not including four-man scramble weeks) there will be 3 head-to-head matches where teams of two will
      play against another two man team from one of the other two teams.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Best Ball</h3>
    <p matLine>
      Course Handicaps for each player will be reduced by the player in each match with the lowest handicap.
      The 3 players with the highest handicaps will use 100% of the difference.
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Course Handicaps for each player will be reduced by the player in that match with the lowest handicap.
      The 3 players with the highest handicaps will use 100% of the difference.
    </p>
    <p matLine>
      <strong>Example:</strong>
      Player A, B, C, and D have course handicaps of 2, 4, 6, and 8 respectively...Player A will play at a scratch,
      Player B will play as a 2, C as a 4, and D as a 6. (regardless of how they're paired into teams)
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Scramble</h3>
    <p matLine>
      No description necessary...you all know what a scramble is...
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 35% of the A player, and 15% of the B player.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Two-man Scotchie</h3>
    <p matLine>
      This is a modified alternate shot format where each player will tee off from the tee box.
      Then each twosome will choose which of their drives they want to use.
      Whichever player's drive they choose, the other player must hit the next shot and they play alternate shot
      until the hole is finished.
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 60% of the A player, and 40% of the B player.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Four-man Scramble</h3>
    <p matLine>
      Again, there is no description necessary...
    </p>
    <p matLine>
      <strong>Handicaps:</strong>
      Each team will use a combined handicap of 20% of the A player, and 15% of the B player, 10 of the C player, and
      5% of the D player.
    </p>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <h2 matLine>Points System</h2>
    <p matLine>
     We will once again have both team and individual points.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Team Points</h3>
    <p matLine>
      <strong>Two-man Matches:</strong>
      The winning twosome from each match will earn their team 1 point. Also, the best twosome score from each week
      will earn their team 6 points, followed by the second best score earning 5 points, and so on with the worst
      twosome score each week earning 1 point for their team.
    </p>
    <p matLine>
      <strong>Four-man Scramble:</strong>
     The team with the best score will earn 12 points.
      Second best will earn 8 points.  And last place team will each 4 points.
    </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine>Individual Points</h3>
    <p matLine>
      Individual points will be based off of the the team points you help earn for your team.  Players will earn
      1/2 of the total twosome points they help earn and 1/4 of the four-man scramble points earned.
      It doesn't matter if you play lights out each week for your team or get carried each week but happen to be the
      best cheerleader.  The individual with the most points at the end of the season will be the League MVP!
    </p>
  </mat-list-item>

</mat-list>

