<div class="table-container mat-elevation-z8" *ngIf="match.format !== Format.FourManScramble">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-muted">
          <small>Hole</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.number}}</small>
        </th>
        <th class="text-muted">
          <small>Total</small>
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Handicap</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.handicap}}</small>
        </th>
        <th class="text-muted">
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Par</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.par}}</small>
        </th>
        <th class="text-muted">
          <small>{{match.course.par}}</small>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-------------------------------------- TEAM A ---------------------------------------------------------------------->
      <!--<tr *ngIf="match.teamTwo.roundA.matchStrokes != match.teamTwo.roundA.strokesGetting">-->
      <tr *ngIf="individualScores">
        <td class="text-center display-name-no-wrap">
          <span [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerA.displayName}}
            </span>
            <span *ngIf="match.format != Format.TwoManBetterBall">
              &
              <span class="display-name-no-wrap">
                {{match.teamOne.roundA.playerB.displayName}}
              </span>
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              {{match.teamOne.roundA.strokesGetting}}
              <span *ngIf="matchStrokesDifferent">&nbsp;|&nbsp;<span class="text-red">{{match.teamOne.roundA.matchStrokes}}</span></span>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamOne.roundA.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamOne.roundA.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <div class="m-strokes-div" *ngIf="matchStrokesDifferent">
            <span *ngFor="let s of numStrokes(match.teamOne.roundA.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          {{match.teamOne.roundA.scores[hole]}}
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            {{match.teamOne.roundA.total}}
          </span>
        </td>
      </tr>
      <tr *ngIf="match.format === Format.TwoManBetterBall && individualScores">
        <td class="text-center display-name-no-wrap">
          <span [ngStyle]="{'color': match.teamOne.team.colorScheme}" class="display-name-no-wrap">
            {{match.teamOne.roundB.playerA.displayName}}
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              {{match.teamOne.roundB.strokesGetting}}
              <span *ngIf="matchStrokesDifferent">&nbsp;|&nbsp;<span class="text-red">{{match.teamOne.roundB.matchStrokes}}</span></span>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamOne.roundB.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamOne.roundB.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <div class="m-strokes-div" *ngIf="matchStrokesDifferent">
            <span *ngFor="let s of numStrokes(match.teamOne.roundB.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          {{match.teamOne.roundB.scores[hole]}}
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            {{match.teamOne.roundB.total}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <!--<app-team-chip [short]="true" [team]="match.teamOne.team"></app-team-chip>
          &nbsp;-->
          <span [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerA.displayName}}
            </span>
            &
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerB?.displayName}}
              {{match.teamOne.roundB?.playerA.displayName}}
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              Net&nbsp;<span *ngIf="!matchStrokesDifferent">& Match</span>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <div [ngClass]="scoreClass(match.teamOne.netScores[hole], i)">
            {{match.teamOne.netScores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamOne.team.colorScheme}">
            {{match.teamOne.netTotal}}
          </span>
        </td>
      </tr>
      <tr *ngIf="matchStrokesDifferent">
        <td>
          <!--<app-team-chip [team]="match.teamOne.team"></app-team-chip>-->
          <span [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerA.displayName}}
            </span>
            &
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerB?.displayName}}
              {{match.teamOne.roundB?.playerA.displayName}}
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>Match</mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <div [ngClass]="scoreClass(match.teamOne.matchScores[hole], i)">
            {{match.teamOne.matchScores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamOne.team.colorScheme}">
            {{match.teamOne.matchTotal}}
          </span>
        </td>
      </tr>

      <!-------------------------------------- TEAM A ---------------------------------------------------------------------->

      <tr>
        <td>
          Match
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9];">
          <i class="material-icons" *ngIf="match.teamOne.matchScores[hole] < match.teamTwo.matchScores[hole]">
            arrow_upward
          </i>
          <i class="material-icons" *ngIf="match.teamOne.matchScores[hole] > match.teamTwo.matchScores[hole]">
            arrow_downward
          </i>
        </td>
        <td>
          <div *ngIf="outcome.tie; else result">Tie</div>
          <ng-template #result>
            <span [ngStyle]="{'color': outcome.team.colorScheme}">
              {{outcome.playerA}} & {{outcome.playerB}}
            </span>
            <br>
            {{outcome.score}}
          </ng-template>
        </td>
      </tr>

      <!-------------------------------------- TEAM B ---------------------------------------------------------------------->

      <tr *ngIf="matchStrokesDifferent">
        <td>
          <!--<app-team-chip [team]="match.teamTwo.team"></app-team-chip>-->
          <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamTwo.roundA.playerA.displayName}}
            </span>
            &
            <span class="display-name-no-wrap">
              {{match.teamTwo.roundA.playerB?.displayName}}
              {{match.teamTwo.roundB?.playerA.displayName}}
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>Match</mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <div [ngClass]="scoreClass(match.teamTwo.matchScores[hole], i)">
            {{match.teamTwo.matchScores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.matchTotal}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <!-- <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
           &nbsp;-->
          <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamTwo.roundA.playerA.displayName}}
            </span>
            &
            <span class="display-name-no-wrap">
              {{match.teamTwo.roundA.playerB?.displayName}}
              {{match.teamTwo.roundB?.playerA.displayName}}
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              Net&nbsp;<span *ngIf="!matchStrokesDifferent">& Match</span>

            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <div [ngClass]="scoreClass(match.teamTwo.netScores[hole], i)">
            {{match.teamTwo.netScores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.netTotal}}
          </span>
        </td>
      </tr>
      <tr *ngIf="individualScores">
        <td class="text-center display-name-no-wrap">
          <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamTwo.roundA.playerA.displayName}}
            </span>
            <span *ngIf="match.format != Format.TwoManBetterBall">
              &
              <span class="display-name-no-wrap">
                {{match.teamTwo.roundA.playerB.displayName}}
              </span>
            </span>
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              {{match.teamTwo.roundA.strokesGetting}}
              <span *ngIf="matchStrokesDifferent">&nbsp;|&nbsp;<span class="text-red">{{match.teamTwo.roundA.matchStrokes}}</span></span>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamTwo.roundA.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundA.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <div class="m-strokes-div" *ngIf="matchStrokesDifferent">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundA.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          {{match.teamTwo.roundA.scores[hole]}}
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.roundA.total}}
          </span>
        </td>
      </tr>
      <tr *ngIf="match.format === Format.TwoManBetterBall && individualScores">
        <td class="text-center display-name-no-wrap">
          <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}" class="display-name-no-wrap">
            {{match.teamTwo.roundB.playerA.displayName}}
          </span>
          <mat-chip-list class="stroke-chips">
            <mat-chip>
              {{match.teamTwo.roundB.strokesGetting}}
              <span *ngIf="matchStrokesDifferent">&nbsp;|&nbsp;<span class="text-red">{{match.teamTwo.roundB.matchStrokes}}</span></span>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamTwo.roundB.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundB.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <!--<div *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting"-->
          <div class="m-strokes-div" *ngIf="matchStrokesDifferent">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundB.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          {{match.teamTwo.roundB.scores[hole]}}
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.roundB.total}}
          </span>
        </td>
      </tr>
      <!-------------------------------------- TEAM B ---------------------------------------------------------------------->
      </tbody>
    </table>
  </div>
</div>

<div class="table-container mat-elevation-z8" *ngIf="match.format == Format.FourManScramble">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-muted">
          <small>Hole</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.number}}</small>
        </th>
        <th class="text-muted">
          <small>Total</small>
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Handicap</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.handicap}}</small>
        </th>
        <th class="text-muted">
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Par</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.par}}</small>
        </th>
        <th class="text-muted">
          <small>{{match.course.par}}</small>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-------------------------------------- TEAM A ---------------------------------------------------------------------->
      <tr>
        <td class="text-center display-name-no-wrap">
          <app-team-chip [team]="match.teamOne.team"></app-team-chip>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index" class="text-center">
          <div [ngClass]="scoreClass(match.teamOne.roundA.scores[hole], i)">
            {{match.teamOne.roundA.scores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamOne.team.colorScheme}">
            {{match.teamOne.roundA.total}}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center display-name-no-wrap">
          <app-team-chip [team]="match.teamTwo.team"></app-team-chip>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index" class="text-center">
          <div [ngClass]="scoreClass(match.teamTwo.roundA.scores[hole], i)">
            {{match.teamTwo.roundA.scores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.roundA.total}}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center display-name-no-wrap">
          <app-team-chip [team]="match.teamThree.team"></app-team-chip>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index" class="text-center">
          <div [ngClass]="scoreClass(match.teamThree.roundA.scores[hole], i)">
            {{match.teamThree.roundA.scores[hole]}}
          </div>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamThree.team.colorScheme}">
            {{match.teamThree.roundA.total}}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

