.full-width {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 1;
  }
}

mat-divider {
  margin-bottom: 15px;
}

.updated {
  color: green;
  font-weight: 900;
}
