<h2 mat-dialog-title>Update Handicaps</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="flex">
  <div>
    <form>
      <mat-form-field *ngFor="let golfer of data" class="full-width">
        <input matInput name="{{golfer.id}}" type="number" [placeholder]="golfer.nickname ? golfer.nickname : golfer.firstName"
               [(ngModel)]="golfer.handicap">
        <button mat-button *ngIf="golfer.handicap" matSuffix mat-icon-button aria-label="Clear"
                (click)="golfer.handicap=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div>
    <app-handicap-lookup></app-handicap-lookup>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-row text-right">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="data">Save</button>
  </div>
</mat-dialog-actions>
