<h2 mat-dialog-title>Update Handicaps</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="flex">
  <div class="form-div">
    <form #golferForm="ngForm" novalidate class="handicap-form">
      <mat-form-field *ngFor="let golfer of golfers | async" class="full-width"
                      [ngClass]="{'updated': golfer['updated']}">
        <input matInput name="{{golfer.id}}" placeholder="{{golfer.firstName + ' ' + golfer.lastName}}"
               [(ngModel)]="golfer.handicap" type="number" step="0.1">
        <!--<mat-hint align="end">{{message.value.length}} / 256</mat-hint>-->
        <!-- <button mat-button *ngIf="golfer.handicap" matSuffix mat-icon-button aria-label="Clear"
                 (click)="golfer.handicap=''">
           <mat-icon>close</mat-icon>
         </button>-->

        <button mat-button *ngIf="golfer.handicap" matSuffix mat-icon-button aria-label="Clear" color="primary"
                (click)="updateHandicap(golfer, $event)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div>
    <app-handicap-widget></app-handicap-widget>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-row text-right">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" [mat-dialog-close]="golfers">Save</button>
  </div>
</mat-dialog-actions>
