.table-headers-align .mat-expansion-panel-header-title,
.table-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.table-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.week-picker-card {
  display: flex;
  justify-content: space-between;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}
