::ng-deep {
  .mat-tab-label {
    flex: 1;
    font-size: 2em;
  }

  .mat-tab-header {
    margin-bottom: 15px;
  }
}

td {
  text-align: center;
}

.card {
  margin-bottom: 30px;
}

.card-header {
  margin-bottom: 0;
}

.worst-week {
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
  background-color: red;
}

.sad-face {
  color: orange;
}

.total-score-div {
  /*  border: 2px solid red;
    background-color: red;*/
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
  line-height: 1.6rem;
}

.chart-div {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .chart-legend .legend-title-text {
  visibility: hidden !important;
}

ngx-charts-advanced-pie-chart {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  /* color: #fff;
   background-color: #000;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin:20px
}
