<ng-template #loading>
  <ngx-loading [show]="true"></ngx-loading>
</ng-template>

<h1 class="mat-display-1 text-center" style="margin-bottom: 30px;">Stats</h1>


<!-- Need to use regular table because you need to use your own repeats! -->

<div class="card" *ngIf="golfers; else loading">
  <h1 class="card-header">Weekly Points</h1>
  <div class="card-body">
    <div class="table-container mat-elevation-z8">
      <mat-table [dataSource]="golfers">
        <ng-container matColumnDef="subDisplayName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Player</mat-header-cell>
          <mat-cell *matCellDef="let golfer" class="text-center"> {{sub.displayName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subHandicap">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Handicap</mat-header-cell>
          <mat-cell *matCellDef="let golfer" class="text-center"> {{sub.handicap | number : '1.1'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subTeam">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Team</mat-header-cell>
          <mat-cell *matCellDef="let golfer" class="text-center">
            <app-team-chip [team]="filterTeam(sub.teamId)"></app-team-chip>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="subDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: subDisplayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>




