td {
  text-align: center;
}

.card {
  margin-bottom: 30px;
}


.card-header {
  margin-bottom: 0;
}

.worst-week {
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
  background-color: red;
}

.sad-face {
  color: orange;
}
