<h1>Score Editor</h1>
<div class="text-right" style="margin-bottom: 15px;" *ngIf="showScoreCard">
  <button mat-raised-button color="primary" (click)="logStuff()">Log Stuff</button>
  <button mat-raised-button color="warn" (click)="saveScores()">Save Scores</button>
</div>

<!-- ////////////////////////// Match Stepper  //////////////////////////-->

<mat-horizontal-stepper [linear]="true" #stepper *ngIf="!showScoreCard"
                        (selectionChange)="onStepperChange($event)">
  <mat-step>
    <ng-template matStepLabel>Week</ng-template>
    <button mat-raised-button color="warn" (click)="openWeekModal()">
      <mat-icon>add</mat-icon>
      Add Week
    </button>
    <mat-form-field>
      <mat-select #week [(ngModel)]="weekSelected" (selectionChange)="onWeekChange(week)">
        <mat-option *ngFor="let week of weeks" [value]="week">
          Week {{ week.number }} |
          <small>{{ week.date }}</small>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="stepper-buttons">
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Format</ng-template>
    <mat-form-field>
      <mat-select #format [(ngModel)]="formatSelected" (selectionChange)="onFormatChange(format)">
        <mat-option [value]="Format.TwoManBetterBall">Two-Man Better Ball</mat-option>
        <mat-option [value]="Format.TwoManAltShot">Two-Man Alt Shot</mat-option>
        <mat-option [value]="Format.TwoManScramble">Two-Man Scramble</mat-option>
        <mat-option [value]="Format.FourManScramble">Four-Man Scramble</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Course</ng-template>
    <mat-form-field>
      <mat-select #course [(ngModel)]="courseSelected" (selectionChange)="onCourseChange(course)">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Team A</ng-template>
    <mat-form-field *ngIf="match">
      <mat-select [(ngModel)]="teamA" placeholder="Team A" (change)="match.teamOne.team = teamA">
        <mat-option *ngFor="let team of teams" [value]="team">
          <app-team-chip [short]="true" [team]="team"></app-team-chip>
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="teamA">
      <div class="flex-between form-padding">
        <mat-form-field>
          <mat-select [(ngModel)]="match.teamOne.roundA.playerA" placeholder="A Player">
            <mat-option *ngFor="let player of (players | filterPlayersByTeam : teamA.id)" [value]="player">
              {{ player.displayName }}
            </mat-option>
          </mat-select>
          <mat-hint align="end" [ngStyle]="{'color': teamColor[teamA.id]}">Team {{teamA.name}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="num-input">
          <input matInput type="number" min="0" placeholder="Stack Strokes"
                 [value]="match.teamOne.roundA.strokesGetting"
                 (input)="setStrokes(true, 'teamOne', 'roundA', $event)">
        </mat-form-field>
        <mat-form-field class="num-input">
          <input matInput type="number" min="0" placeholder="Match Strokes"
                 [value]="match.teamOne.roundA.matchStrokes"
                 (input)="setStrokes(false, 'teamOne', 'roundA', $event)">
        </mat-form-field>
      </div>
      <div class="form-padding">
        <mat-form-field *ngIf="formatSelected != Format.TwoManBetterBall">
          <mat-select [(ngModel)]="match.teamOne.roundA.playerB" placeholder="B Player">
            <mat-option *ngFor="let player of (players | filterPlayersByTeam : teamA.id)" [value]="player">
              {{ player.displayName }}
            </mat-option>
          </mat-select>
          <mat-hint align="end" [ngStyle]="{'color': teamColor[teamA.id]}">Team {{teamA.name}}</mat-hint>
        </mat-form-field>

        <div *ngIf="formatSelected === Format.TwoManBetterBall" class="flex-between">
          <mat-form-field>
            <mat-select [(ngModel)]="match.teamOne.roundB.playerA" placeholder="B Player">
              <mat-option *ngFor="let player of (players | filterPlayersByTeam : teamA.id)" [value]="player">
                {{ player.displayName }}
              </mat-option>
            </mat-select>
            <mat-hint align="end" [ngStyle]="{'color': teamColor[teamA.id]}">Team {{teamA.name}}</mat-hint>
          </mat-form-field>
          <mat-form-field class="num-input">
            <input matInput type="number" min="0" placeholder="Stack Strokes"
                   [value]="match.teamOne.roundB.strokesGetting"
                   (input)="setStrokes(true, 'teamOne', 'roundB', $event)">
          </mat-form-field>
          <mat-form-field class="num-input">
            <input matInput type="number" min="0" placeholder="Match Strokes"
                   [value]="match.teamOne.roundB.matchStrokes"
                   (input)="setStrokes(false, 'teamOne', 'roundB', $event)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Team B</ng-template>
    <mat-form-field>
      <mat-select [(ngModel)]="teamB" placeholder="Team B" (change)="match.teamTwo.team = teamB">
        <mat-option *ngFor="let team of teams" [value]="team">
          <app-team-chip [short]="true" [team]="team"></app-team-chip>
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="teamB">
      <div class="flex-between form-padding">
        <mat-form-field>
          <mat-select [(ngModel)]="match.teamTwo.roundA.playerA" placeholder="A Player">
            <mat-option *ngFor="let player of (players | filterPlayersByTeam : match.teamTwo.team.id)" [value]="player">
              {{ player.displayName }}
            </mat-option>
          </mat-select>
          <mat-hint align="end" [ngStyle]="{'color': teamColor[match.teamTwo.team.id]}">Team {{match.teamTwo.team.name}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="num-input">
          <input matInput type="number" min="0" placeholder="Stack Strokes"
                 [value]="match.teamTwo.roundA.strokesGetting"
                 (input)="setStrokes(true, 'teamTwo', 'roundA', $event)">
        </mat-form-field>
        <mat-form-field class="num-input">
          <input matInput type="number" min="0" placeholder="Match Strokes"
                 [value]="match.teamTwo.roundA.matchStrokes"
                 (input)="setStrokes(false, 'teamTwo', 'roundA', $event)">
        </mat-form-field>
      </div>
      <div class="form-padding">
        <mat-form-field *ngIf="formatSelected != Format.TwoManBetterBall">
          <mat-select [(ngModel)]="match.teamTwo.roundA.playerB" placeholder="B Player">
            <mat-option *ngFor="let player of (players | filterPlayersByTeam : match.teamTwo.team.id)" [value]="player">
              {{ player.displayName }}
            </mat-option>
          </mat-select>
          <mat-hint align="end" [ngStyle]="{'color': teamColor[match.teamTwo.team.id]}">Team {{match.teamTwo.team.name}}</mat-hint>
        </mat-form-field>
        <div *ngIf="formatSelected === Format.TwoManBetterBall" class="flex-between">
          <mat-form-field>
            <mat-select [(ngModel)]="match.teamTwo.roundB.playerA" placeholder="B Player">
              <mat-option *ngFor="let player of (players | filterPlayersByTeam : match.teamTwo.team.id)" [value]="player">
                {{ player.displayName }}
              </mat-option>
            </mat-select>
            <mat-hint align="end" [ngStyle]="{'color': teamColor[match.teamTwo.team.id]}">Team {{match.teamTwo.team.name}}</mat-hint>
          </mat-form-field>
          <mat-form-field class="num-input">
            <input matInput type="number" min="0" placeholder="Stack Strokes"
                   [value]="match.teamTwo.roundB.strokesGetting"
                   (input)="setStrokes(true, 'teamTwo', 'roundB', $event)">
          </mat-form-field>
          <mat-form-field class="num-input">
            <input matInput type="number" min="0" placeholder="Match Strokes"
                   [value]="match.teamTwo.roundB.matchStrokes"
                   (input)="setStrokes(false, 'teamTwo', 'roundB', $event)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="warn" (click)="goToScoreCard()">Add Scores</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="table-container mat-elevation-z8" *ngIf="showScoreCard">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-muted" colspan="2">
          <small>Handicap</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.handicap}}</small>
        </th>
        <th class="text-muted">
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Player</small>
        </th>
        <th class="text-muted">
          <small>Blows</small>
        </th>
        <th class="text-muted" *ngFor="let hole of match.course.holes">
          <small>{{hole.number}}</small>
        </th>
        <th class="text-muted">
          <small>Total</small>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-------------------------------------- TEAM A ---------------------------------------------------------------------->
      <!--<tr *ngIf="match.teamTwo.roundA.matchStrokes != match.teamTwo.roundA.strokesGetting">-->
      <tr>
        <td>
          <div class="d-flex">
            <app-team-chip [short]="true" [team]="teamA"></app-team-chip>
            &nbsp;
            <span [ngStyle]="{'color': teamA.colorScheme}">
              <span class="display-name-no-wrap">
                {{match.teamOne.roundA.playerA.displayName}}
              </span>
              <span *ngIf="match.format != Format.TwoManBetterBall">
                &
                <span class="display-name-no-wrap">
                  {{match.teamOne.roundA.playerB.displayName}}
                </span>
              </span>
            </span>
          </div>
        </td>
        <td class="text-center display-name-no-wrap">
          {{match.teamOne.roundA.strokesGetting}}
          <span *ngIf="match.teamOne.roundA.matchStrokes != match.teamOne.roundA.strokesGetting">
            |
            <span class="text-red">
              {{match.teamOne.roundA.matchStrokes}}
            </span>
          </span>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamOne.roundA.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamOne.roundA.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <!--<div *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting"-->
          <div class="m-strokes-div" *ngIf="match.teamOne.roundA.matchStrokes">
            <span *ngFor="let s of numStrokes(match.teamOne.roundA.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addScorePlayer('teamOne', 'roundA', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': teamColor[teamA.id]}">
            {{match.teamOne?.roundA?.total}}
          </span>
        </td>
      </tr>
      <tr *ngIf="match.format === Format.TwoManBetterBall">
        <td>
          <div class="d-flex">
            <app-team-chip [short]="true" [team]="teamA"></app-team-chip>
            &nbsp;
            <span [ngStyle]="{'color': teamA.colorScheme}" class="display-name-no-wrap">
              {{match.teamOne.roundB.playerA.displayName}}
            </span>
          </div>
        </td>
        <td class="text-center display-name-no-wrap">
          {{match.teamOne.roundB.strokesGetting}}
          <span *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting">
            |
            <span class="text-red">
              {{match.teamOne.roundB.matchStrokes}}
            </span>
          </span>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamOne.roundB.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamOne.roundB.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <!--<div *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting"-->
          <div class="m-strokes-div" *ngIf="match.teamOne.roundB.matchStrokes">
            <span *ngFor="let s of numStrokes(match.teamOne.roundB.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addScorePlayer('teamOne', 'roundB', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': teamColor[teamA.id]}">
            {{match.teamOne?.roundB?.total}}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <app-team-chip [short]="true" [team]="teamA"></app-team-chip>
          <!--&nbsp;
          <span [ngStyle]="{'color': teamA.colorScheme}">
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerA.displayName}}
            </span>
            &
            <span class="display-name-no-wrap">
              {{match.teamOne.roundA.playerB?.displayName}}
              {{match.teamOne.roundB.playerA?.displayName}}
            </span>
          </span>-->
          Net Scores
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <!-- <div [ngClass]="scoreClass(match.teamOne.netScores[hole], i)">
             {{match.teamOne.netScores[hole]}}
           </div>-->
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addNetScore('teamOne', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': teamColor[teamA.id]}">
            {{match.teamOne.netTotal}}
          </span>
        </td>
      </tr>
      <tr *ngIf="showMatchScoreInputs">
        <td colspan="2">
          <app-team-chip [short]="true" [team]="teamA"></app-team-chip>
          Match Scores
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]">
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addMatchScore('teamOne', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': teamColor[teamA.id]}">
            {{match.teamOne.matchTotal}}
          </span>
        </td>
      </tr>

      <!-------------------------------------- TEAM A ---------------------------------------------------------------------->
      <tr>
        <td colspan="2">
          <app-team-chip [short]="true" [team]="teamA"></app-team-chip>
          vs.
          <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9];">
          <i class="material-icons" *ngIf="match.teamOne.matchScores[hole] < match.teamTwo.matchScores[hole]">
            arrow_upward
          </i>
          <i class="material-icons" *ngIf="match.teamOne.matchScores[hole] > match.teamTwo.matchScores[hole]">
            arrow_downward
          </i>
        </td>
        <td [innerHTML]="determineMatch()"></td>
      </tr>
      <!-------------------------------------- TEAM B ---------------------------------------------------------------------->

      <tr *ngIf="showMatchScoreInputs">
        <td colspan="2">
          <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
          Match Scores
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]">
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addMatchScore('teamTwo', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': teamColor[match.teamTwo.team.id]}">
            {{match.teamTwo.matchTotal}}
          </span>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
          <!-- &nbsp;
           <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
             <span class="display-name-no-wrap">
               {{match.teamTwo.roundA.playerA.displayName}}
             </span>
             &
             <span class="display-name-no-wrap">
               {{match.teamTwo.roundA.playerB?.displayName}}
               {{match.teamTwo.roundB.playerA?.displayName}}
             </span>
           </span>-->
          Net Scores
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;">
          <!--<div [ngClass]="scoreClass(match.teamTwo.netScores[hole], i)">
            {{match.teamTwo.netScores[hole]}}
          </div>-->
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addNetScore('teamTwo', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'background-color': teamColor[match.teamTwo.team.id]}">
            {{match.teamTwo.netTotal}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex">
            <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
            &nbsp;
            <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
              <span class="display-name-no-wrap">
                {{match.teamTwo.roundA.playerA.displayName}}
              </span>
              <span *ngIf="match.format != Format.TwoManBetterBall">
                &
                <span class="display-name-no-wrap">
                  {{match.teamTwo.roundA.playerB.displayName}}
                </span>
              </span>
            </span>
          </div>
        </td>
        <td class="text-center">
          {{match.teamTwo.roundA.strokesGetting}}
          <span *ngIf="match.teamTwo.roundA.matchStrokes != match.teamTwo.roundA.strokesGetting">
            |
            <span class="text-red">
              {{match.teamTwo.roundA.matchStrokes}}
            </span>
          </span>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamTwo.roundA.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundA.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <!--<div *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting"-->
          <div class="m-strokes-div" *ngIf="match.teamTwo.roundA.matchStrokes">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundA.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addScorePlayer('teamTwo', 'roundA', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': teamColor[match.teamTwo.team.id]}">
            {{match.teamTwo?.roundA?.total}}
          </span>
        </td>
      </tr>
      <tr *ngIf="match.format === Format.TwoManBetterBall">
        <td>
          <div class="d-flex">
            <app-team-chip [short]="true" [team]="match.teamTwo.team"></app-team-chip>
            &nbsp;
            <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}" class="display-name-no-wrap">
              {{match.teamTwo.roundB.playerA.displayName}}
            </span>
          </div>
        </td>
        <td class="text-center">
          {{match.teamTwo.roundB.strokesGetting}}
          <span *ngIf="match.teamTwo.roundB.matchStrokes != match.teamTwo.roundB.strokesGetting">
            |
            <span class="text-red">
              {{match.teamTwo.roundB.matchStrokes}}
            </span>
          </span>
        </td>
        <td *ngFor="let hole of [1,2,3,4,5,6,7,8,9]; let i = index;" class="text-center">
          <div class="s-strokes-div" *ngIf="match.teamTwo.roundB.strokesGetting">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundB.strokesGetting, i)"
                  class="s-stroke">*
            </span>
          </div>
          <!--<div *ngIf="match.teamOne.roundB.matchStrokes != match.teamOne.roundB.strokesGetting"-->
          <div class="m-strokes-div" *ngIf="match.teamTwo.roundB.matchStrokes">
            <span *ngFor="let s of numStrokes(match.teamTwo.roundB.matchStrokes, i)"
                  class="m-stroke">*</span>
          </div>
          <mat-form-field class="num-input">
            <input matInput type="number" min="1" placeholder=""
                   (input)="addScorePlayer('teamTwo', 'roundB', hole, $event)">
          </mat-form-field>
        </td>
        <td class="total-score-td">
          <span class="total-score-div" [ngStyle]="{'color': teamColor[match.teamTwo.team.id]}">
            {{match.teamTwo?.roundB?.total}}
          </span>
        </td>
      </tr>
      <!-------------------------------------- TEAM B ---------------------------------------------------------------------->
      </tbody>
    </table>
  </div>
</div>
<!-- ///////////////////////////////////////// END Score Card  ///////////////////////////////////////////////////-->

