<ng-template #loading>
  <ngx-loading [show]="true"></ngx-loading>
</ng-template>

<div *ngIf="weeks">
  <h1 class="text-center">
    Week {{weekSelected?.number}}
    <small class="text-muted">({{weekSelected?.date | date: 'longDate'}})</small>
  </h1>

  <div class="d-flex justify-content-between">
    <div class="button-row" *ngIf="playerService.afAuth.authState | async">
      <button mat-raised-button color="warn" routerLink="/score-editor">
        <mat-icon>add</mat-icon>
        <span>Add Match</span>
      </button>
      <button mat-raised-button color="primary" (click)="logStuff()">Log Stuff</button>

    </div>
    <div></div>
    <div class="text-right">
      <mat-form-field>
        <mat-select [value]="weekSelected" (change)="onWeekChange($event)">
          <mat-option *ngFor="let week of weeks" [value]="week" [disabled]="!week.completed">
            Week {{ week.number }} |
            <small>{{ week.date }}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>


<div class="table-container mat-elevation-z8" *ngIf="matchData"  style="margin-bottom: 50px;">
  <mat-table #table [dataSource]="matchData" matSort matSortActive="name">
    <ng-container matColumnDef="players">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Players</mat-header-cell>
      <mat-cell *matCellDef="let team">
        {{team.playerA}} & {{team.playerB}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="netScore">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Net Score</mat-header-cell>
      <mat-cell *matCellDef="let team; let first = first;">
        {{team.netPoints}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stackPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Stack Points</mat-header-cell>
      <mat-cell *matCellDef="let team">{{team.netPoints}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="matchPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Match Points</mat-header-cell>
      <mat-cell *matCellDef="let team">{{team.matchPoints}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Points</mat-header-cell>
      <mat-cell *matCellDef="let team">{{team.matchPoints + team.stackPoints}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
      <mat-cell *matCellDef="let team">
        <app-team-chip [team]="team.team"></app-team-chip>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index; let isOdd = odd; let isEven = even; let isLast = last"></mat-row>
  </mat-table>
</div>


<h1 class="text-center">Scorecards</h1>

<mat-accordion class="table-headers-align" [multi]="false" dynamicHeight *ngIf="matches; else loading">
  <mat-expansion-panel *ngFor="let match of matches; let i = index; let first = first; let last = last"
                       [expanded]="step === i" (opened)="setStep(i)" hideToggle="false">
    <mat-expansion-panel-header *ngIf="match.teamOne">
      <!--<mat-panel-title>
       </mat-panel-title>-->
      <mat-panel-description *ngIf="match.format !== Format.FourManScramble">
        <div>
          <app-team-chip [team]="match.teamOne.team" [short]="true"></app-team-chip>
          <span [ngStyle]="{'color': match.teamOne.team.colorScheme}">
            {{match.teamOne.roundA.playerA.displayName}}
            &
            {{match.teamOne.roundA.playerB?.displayName}}
            {{match.teamOne.roundB?.playerA.displayName}}
          </span>
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamOne.team.colorScheme}">
            {{match.teamOne.netTotal}}
          </span>
        </div>
        vs.
        <div>
          <app-team-chip [team]="match.teamTwo.team" [short]="true"></app-team-chip>
          <span [ngStyle]="{'color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.roundA.playerA.displayName}}
            &
            {{match.teamTwo.roundA.playerB?.displayName}}
            {{match.teamTwo.roundB?.playerA.displayName}}
          </span>
          <span class="total-score-div" [ngStyle]="{'background-color': match.teamTwo.team.colorScheme}">
            {{match.teamTwo.netTotal}}
          </span>
        </div>
        <mat-chip-list>
          <mat-chip>{{formatName[match.format]}}</mat-chip>
        </mat-chip-list>
      </mat-panel-description>

      <mat-panel-description *ngIf="match.format === Format.FourManScramble">
        <app-team-chip [team]="match.teamOne.team"></app-team-chip>
        vs.
        <app-team-chip [team]="match.teamTwo.team"></app-team-chip>
        vs.
        <app-team-chip [team]="match.teamThree.team"></app-team-chip>
        <mat-chip-list>
          <mat-chip>{{formatName[match.format]}}</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-scorecard [match]="match" [individualScores]="individualScores"></app-scorecard>

    <mat-action-row>
      <button mat-stroked-button color="primary" (click)="toggleIndividualScores()"
              *ngIf="match.format !== Format.FourManScramble">
        <span *ngIf="!individualScores">Show</span>
        <span *ngIf="individualScores">Hide</span>
        Individual Scores
      </button>
     <div>
       <button mat-button (click)="prevStep()" *ngIf="!first">Previous</button>
       <button mat-button color="warn" (click)="nextStep()" *ngIf="!last">Next</button>
     </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
