<div class="button-row text-right">
  <button mat-raised-button color="primary" (click)="showHandicapModal()">Update Handicaps</button>
  <button mat-raised-button color="accent" (click)="showPlayerEditorModal()">
    Add Player
  </button>
</div>


<!--<div class="table-container mat-elevation-z8" *ngIf="golfers">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="text-muted">
          <small>Player</small>
        </th>
        <th class="text-muted">
          <small>Handicap</small>
        </th>
        <th class="text-muted">
          <small>Team</small>
        </th>
        <th class="text-muted">
          <small>Edit</small>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let golfer of golfers | async">
        <td>{{golfer.displayName}}</td>
        <td>{{golfer.handicap}}</td>
        <td><app-team-chip [golfer]="golfer"></app-team-chip></td>
        <td>
          <button mat-icon-button color="warn" (click)="showPlayerEditorModal(golfer)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>-->


<div class="table-container mat-elevation-z8" *ngIf="golfers">
 <!-- <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>-->
  <mat-table #table [dataSource]="golfers">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Player </mat-header-cell>
      <mat-cell *matCellDef="let golfer"> {{golfer.displayName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="handicap">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Handicap </mat-header-cell>
      <mat-cell *matCellDef="let golfer"> {{golfer.handicap}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
      <mat-cell *matCellDef="let golfer">
        <app-team-chip [golfer]="golfer"></app-team-chip>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-right">
        <button mat-icon-button (click)="showPlayerEditorModal(golfer)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
