<h1 class="mat-display-1 text-center" style="margin-bottom: 30px;">League Members</h1>

<div class="d-flex justify-content-between" *ngIf="playerService.afAuth.authState | async">
  <div class="button-row">
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="showHandicapModal()">
      <mat-icon>edit</mat-icon>
      Update Handicaps
    </button>
  </div>
</div>

<div class="table-container mat-elevation-z8" *ngIf="golfers" style="margin-bottom: 50px;">
  <mat-table #table [dataSource]="golfers" matSort matSortActive="displayName"
             *ngIf="(playerService.afAuth.authState | async); else showOtherTable">
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Player</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.displayName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="handicap">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Handicap</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.handicap | number : '1.1'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">League Points</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.netPoints}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="paid">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Paid</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center">
        <div class="paid-chips">
          <mat-chip-list class="team-colors">
            <mat-chip selected="true" color="warn" *ngIf="golfer.paid">
              Yes
            </mat-chip>
            <mat-chip selected="true" color="primary" *ngIf="!golfer.paid">
              No
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Team</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center">
        <app-team-chip [team]="filterTeam(golfer.teamId)"></app-team-chip>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="text-center"> Edit</mat-header-cell>
      <mat-cell *matCellDef="let golfer" class="text-center">
        <button mat-icon-button (click)="showPlayerEditorModal(golfer)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="adminColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: adminColumns;"></mat-row>
  </mat-table>

  <!-- Easier to do it this way than to check authorization a million times -->
  <ng-template #showOtherTable>
    <mat-table #table [dataSource]="golfers" matSort matSortActive="displayName">
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Player</mat-header-cell>
        <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.displayName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="handicap">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Handicap</mat-header-cell>
        <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.handicap | number : '1.1'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">League Points</mat-header-cell>
        <mat-cell *matCellDef="let golfer" class="text-center"> {{golfer.netPoints}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Paid</mat-header-cell>
        <mat-cell *matCellDef="let golfer" class="text-center">
         <div class="paid-chips">
           <mat-chip-list class="team-colors">
             <mat-chip selected="true" color="warn" *ngIf="golfer.paid">
               Yes
             </mat-chip>
             <mat-chip selected="true" color="primary" *ngIf="!golfer.paid">
               No
             </mat-chip>
           </mat-chip-list>
         </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Team</mat-header-cell>
        <mat-cell *matCellDef="let golfer" class="text-center">
          <app-team-chip [team]="filterTeam(golfer.teamId)"></app-team-chip>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
</div>

<h1 class="mat-display-1 text-center" style="margin-bottom: 30px;">Subs</h1>

<div class="table-container mat-elevation-z8" *ngIf="subs">
  <mat-table [dataSource]="subs">
    <ng-container matColumnDef="subDisplayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Player</mat-header-cell>
      <mat-cell *matCellDef="let sub" class="text-center"> {{sub.displayName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subHandicap">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Handicap</mat-header-cell>
      <mat-cell *matCellDef="let sub" class="text-center"> {{sub.handicap | number : '1.1'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subTeam">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Team</mat-header-cell>
      <mat-cell *matCellDef="let sub" class="text-center">
        <app-team-chip [team]="filterTeam(sub.teamId)"></app-team-chip>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="subDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: subDisplayedColumns;"></mat-row>
  </mat-table>
</div>
