/*.button-row {
  text-align: right;
  margin-bottom: 15px;
}*/
/* Structure */

.button-row {
  margin-bottom: 30px;
}
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  /*max-height: 500px;*/
}

.table td {
  text-align: center;
}

/*::ng-deep mat-chip.mat-chip {
  margin-left: auto !important;
  margin-right: auto !important;
}*/

.mat-sort-header-container {
  align-items: center;
}
