<h2 mat-dialog-title>Week {{weeks?.length + 1}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <mat-form-field>
    <input #date matInput [matDatepicker]="picker" [value]="today"
           placeholder="Choose a date" (dateChange)="setDate(date.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="newWeek.date"></mat-datepicker>
  </mat-form-field>
  <button (click)="setDate(date.value)">Log Out Date</button>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-row text-right">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" mat-dialog-close (click)="addWeek()">Save</button>
  </div>
</mat-dialog-actions>

