@import url('https://fonts.googleapis.com/css?family=Handlee');

.mat-tab-link {
  padding: 0 25px;
  min-width: 50px;
}

.indie-flower {
  font-family: 'Handlee', cursive;
}

.navbar-brand {
  color: #f44336;
}

mat-toolbar {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    .menu-btn-div {
      display: none;
    }
  }
  @media (max-width: 992px) {
    nav mat-icon {
      display: none;
    }
  }
  @media (max-width: 768px) {
    nav {
      display: none;
    }
  }
}
