@import url('https://fonts.googleapis.com/css?family=Handlee');

.mat-tab-link {
  padding: 0 15px;
  min-width: 50px;
}

.indie-flower {
  font-family: 'Handlee', cursive;
}

.navbar-brand {
  color: #f44336;
}

mat-toolbar {
  margin-bottom: 30px;
}
