@import url('https://fonts.googleapis.com/css?family=Handlee');


.indie-flower {
  font-family: 'Handlee', cursive;
}

.navbar-brand {
  color: #f44336;
}

.mat-tab-link {
  padding: 0 25px;
  min-width: 50px;
}

mat-toolbar {
  margin-bottom: 30px;
  @media (min-width: 780px) {
    .menu-btn-div {
      display: none;
    }
    .mat-tab-link {
      padding: 0 23px;
      min-width: 50px;
    }
  }
  @media (max-width: 992px) {
    nav .regular-links {
      display: none;
    }
    .mat-tab-link {
      padding: 0 18px;
      min-width: 50px;
    }
  }
  @media (max-width: 780px) {
    nav {
      display: none;
    }
  }
}
