<mat-toolbar class="justify-content-between">
  <a routerLink="/" class="navbar-brand indie-flower">
    <img src="../../../assets/img/summer-league-logo.png">
  </a>
  <!-- This fills the remaining space of the current row -->
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of routes"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       [routerLinkActiveOptions]="{ exact: link.exact }">
      <mat-icon>{{link.icon}}</mat-icon>
      &nbsp;
      <span> {{link.name}}</span>
    </a>
  </nav>
  <div class="menu-btn-div">
    <button mat-icon-button="" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
      <button mat-menu-item  *ngFor="let link of routes"
              [routerLink]="link.path">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.name}}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
