<div class="table-container mat-elevation-z8">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-muted">
          <small>Hole</small>
        </th>
        <th class="text-muted" *ngFor="let score of round.scores">
          <small>{{score.number}}</small>
        </th>
        <th class="text-muted">
          <small>Total</small>
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Handicap</small>
        </th>
        <th class="text-muted" *ngFor="let score of round.scores">
          <small>{{score.handicap}}</small>
        </th>
        <th class="text-muted">
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Par</small>
        </th>
        <th class="text-muted" *ngFor="let score of round.scores">
          <small >
            {{score.par}} {{score.handicap <= round.courseHandicap * 2 ? '*' : ''}}
          </small>
        </th>
        <th class="text-muted">
          <small>{{round.par}}</small>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="text-muted">
          <small>Gross</small>
        </th>
        <th *ngFor="let score of round.scores" class="text-center">
          <div [ngClass]="grossScoreClass(score)">
            {{score.score}}
          </div>
        </th>
        <th class="total-score-td">
         <strong>{{round.total}}</strong>
        </th>
      </tr>
      <tr>
        <th class="text-muted">
          <small>Net</small>
        </th>
        <th *ngFor="let score of round.scores" class="text-center">
          <div [ngClass]="netScoreClass(score)">
            {{score.handicap <= round.courseHandicap * 2 ? score.score - 1 : score.score}}
          </div>
        </th>
        <th class="total-score-td">
          <div class="total-score-div">
            {{round.total - round.courseHandicap}}
          </div>
        </th>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<!--<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container matColumnDef="hole" class="padding-bottom-20">
      <mat-header-cell *matHeaderCellDef>Hole</mat-header-cell>
      <mat-cell *matCellDef>
        <div class="par-cell">Par</div>
        <div class="score-cell">Score</div>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="{{score.number}}" *ngFor="let score of round.scores" class="padding-bottom-20">
      <mat-header-cell *matHeaderCellDef>{{score.number}}</mat-header-cell>
      <mat-cell *matCellDef="let r">
        <div class="par-cell">{{score.par}}</div>
        <div [ngClass]="scoreClass(score)">
          {{score.score}}
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total" class="padding-bottom-20">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let r">
        <div class="par-cell">{{r.par}}</div>
        <div>{{r.total}}</div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>-->
