/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();
@import 'assets/styles/utils';
@import 'assets/styles/bootstrap';
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400');*/

/*$custom-typography: mat-typography-config($font-family: 'Raleway');
@include mat-core($custom-typography);*/

body {
  margin: 0;
  padding-bottom: 100px;
}

.team-colors {
  $alternate-primary: mat-palette($mat-red);
  $alternate-accent:  mat-palette($mat-blue);
  $alternate-warn:  mat-palette($mat-green, 600);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
  @include angular-material-theme($alternate-theme);
  .mat-chip:not(.mat-basic-chip) {
    background-color: #444;
    color: #fff;
  }
}

.flex-1 {
  flex: 1!important;
}
.flex-2 {
  flex: 2!important;
}

/*strong, .strong {
  font-weight: 900!important;
}*/
