.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.w-100 {
  width: 100%!important;
}

.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.text-muted {
  color: #6c757d !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}


.text-red {
  color: #f44336;
}

.text-green {
  color: #43a047;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}
