<div class="container">
  <ngx-loading [show]="spinner"></ngx-loading>
  <mat-accordion class="table-headers-align">
    <mat-expansion-panel *ngFor="let golfer of golfers; let i = index; let first = first; let last = last;"
                         [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!--<i class="material-icons">arrow_drop_down</i>-->
          {{golfer.nickname ? golfer.nickname : golfer.firstName}}
        </mat-panel-title>
        <mat-panel-description>
          <div>
            <small>Handicap:</small>
            {{golfer.handicap}}
            |
            <small>Average:</small>
            <span *ngIf="rounds">{{calculateAverage(golfer.id)}}</span>
          </div>
          <mat-chip-list class="team-colors">
            <mat-chip selected="true" [color]="golfer.team.color">{{golfer.team.name}}</mat-chip>
          </mat-chip-list>
          <!-- <button mat-icon-button (click)="editPlayer(golfer, $event)">
             <mat-icon>edit</mat-icon>
           </button>-->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>
      <ng-template matExpansionPanelContent>
        <app-player-stats *ngIf="golfers && rounds" [player]="golfer" [rounds]="filterRounds(golfer.id)"></app-player-stats>
      </ng-template>

      <mat-action-row>
        <button mat-button (click)="prevStep()" *ngIf="!first">Previous</button>
        <button mat-button color="warn" (click)="nextStep()" *ngIf="!last">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <div class="table-container mat-elevation-z8">
     <div class="table-responsive">
       <table class="table">
         &lt;!&ndash;<thead>
         <tr>
           <th>Name</th>
           <th>Team</th>
           <th>Handicap</th>
           <th></th>
         </tr>
         </thead>
         <tbody>&ndash;&gt;
         <tr *ngFor="let golfer of golfers">
           <td>{{golfer.nickname ? golfer.nickname : golfer.firstName }}</td>
           <td>
             <mat-chip-list class="team-colors">
               <mat-chip selected="true" [color]="golfer.team.color">{{golfer.team.name}}</mat-chip>
             </mat-chip-list>
           </td>
           <td>
             <small class="text-muted">Handicap:</small>
             {{golfer.handicap}}
           </td>
           <td>
             <button mat-icon-button="" (click)="editHandicap(golfer)">
               <mat-icon aria-label="Edit Golfer">edit</mat-icon>
             </button>
           </td>
         </tr>
         </tbody>
       </table>
     </div>
   </div>-->

</div>
